.footer {
  padding-left: 80px;
  padding-right: 80px;
  background: #FFFFFF;
  box-shadow: 0px -4px 8px rgba(46, 48, 59, 0.06);
  padding-bottom: 48px;
}
.wrapper {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 76px;
}
.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #4B4B4B;
}

.text {
  color: #959595;
  margin-top: 0;
}

.link {
  color: #3D4CEB;
  text-decoration: none;
}

.phoneLink {
  color: #959595;
  text-decoration: none;
}

.infoSection {
  display: flex;
}

.menuSection {
  width: 620px;
}

.contactsWrapper {
  width: 620px;
  margin-right: 40px;
  .contacts {
    display: flex;
  }
}