.wrapper {
  width: 400px;
  max-width: 100%;
  margin: 24px auto;
}

.link {
  color: #3D4CEB;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.text {
  font-size: 12px;
  line-height: 14px;
}

.textWrapper {
  width: 400px;
  max-width: 100%;
  margin: 32px auto 48px;
}