.logoWrapper {
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  .square {
    background-color: #4C49F0;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    position: relative;
  }

  .squareSmall {
    background-color: #FFFFFF;
    width: 22px;
    height: 22px;
    border-radius: 8px;
    position: absolute;
    left: 18px;
    top: 2px;
  }

  .textWrapper {
    margin-left: 10px;
    p {
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 7px;
    }

    h3 {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}





