.wrapperHeader {
  .list {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    .item {
      margin-left: 25px;
      margin-right: 25px;

      a {
        text-decoration: none;
        color: #959595;
        font-size: 16px;
        line-height: 100%;
      }
    }
  }
}

.wrapperFooter {
  .list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    .item {
      font-size: 14px;
      //line-height: 16px;
      padding-bottom: 5px;

      a {
        text-decoration: none;
        color: #959595;
      }
    }
  }
}