.wrapper {
  width: 400px;
  margin-top: 24px;

  p {
    color: #4B4B4B;
    margin: 0;
    font-size: 18px;

    .link {
      text-decoration: none;
      margin-left: 5px;
      color: #3D4CEB;
    }
  }
}