.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  position: relative;

  button {
    position: absolute;
    left: 0;
    top: 26px;
  }

  .title {
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    width: 400px;
    margin: 0;
  }
}

